/*Обнуление*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    display: block;
}
/*---------------------------*/
/*---first-Block-Begin---*/
.main {
    height: 100%;
    width: 100%;
    
}
.first img {
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    overflow: auto;
    filter: brightness(20%);
}
.logo {
    border-radius: 50%;
    background-image: url(img/logo.png);
    background-size: 120px 80px;
    position: relative;
    width: 120px;
    height: 80px;
    left: 15%;
    top: 30px;
}
.first__titel{
    display: block;
    position: absolute;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 750px;
    top: 40%;
    right: 0;
    left: 0;
    margin: auto;
}
h1 {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 25px;

    display: inline-block;
    line-height: 1;
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer;
}
h1:after {
    background-color: #c9362c; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 4px; /* Высота линии */
    width: 0%;
    margin: 0 auto;
    margin-top: 25px;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
h1:hover:after,
h1:focus:after {
    width: 40%;
}
.first__titel p {
    font-size: 16px;
    line-height: 28px;
    color: rgb(210, 213, 215);
}
.first__titel span {
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.first__titel button {
    width: 190px;
    height: 45px;
    background-color: #c9362c;
    margin: 30px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 15px;
}
.first__titel button:hover{
    background: #ffffff;
    color: #c9362c;
}
.myphone {
    position: absolute;
    color: #ffffff;
    z-index: 5;
    bottom: 5%;
    left: 15%;

    padding-left: 25px;
}
.myphone span {
    content: "";
    position: absolute;
	left:0;
    bottom: 1px;
	width: 18px;
	height: 18px;
	background: url(img/phone-removebg-preview.png) center center/cover no-repeat;
}
@media(max-width:770px) {
    .first__titel{
        width: 550px;
        top: 30%;
    }
    .logo {
        left: 5%;
        top: 10px;
    }
    .myphone {
        left: 7%; 
    }
}
@media(max-width:560px) {
    .first__titel{
        width: 400px;
        top: 20%;
    }
    .first__titel button {
        margin: 15px;
    }
}
@media(max-width:410px) {
    .first__titel{
        width: 300px;
        top: 20%;
    }
    .first__titel p {
        line-height: 20px;
    }
    h1 {
        padding-bottom: 0px;
    }
}
@media(max-height:500px) and (max-width:620px){
    .myphone {
        top:46px;
        left: 50%;
        bottom:auto;
    }
}
/*---first-Block-End---*/

.blocktwo {
    background-color: #f0f0f0;
    display: flex;
}
.second {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
}
h2 {
    color: #3c3c3c;
    font-size: 25px;
    margin-top: 80px;
    font-weight: bold;
    padding-bottom: 25px;
        

    /* display: inline-block; */
    line-height: 1;
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer;
    justify-content: center;
}
h2:after {
    background-color: #c9362c; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 4px; /* Высота линии */
    width: 0%;
    margin: 0 auto;
    margin-top: 25px;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
h2:hover:after,
h2:focus:after {
    width: 40%;
}

.table {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: flex-start;  
    margin-bottom: 60px;
}

.shell {
    background-color: #ffffff;
    width: 350px;
    height: 250px;
    color: #3c3c3c;
    font-weight: bold;
    margin: 10px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.thename {
    
}